html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    font-family: Arial, sans-serif;
    background: url("background.jpg") center center no-repeat;
    background-size: cover;
    background-color: #000;
    color: #ccc;
}

#unity-container {
    position: relative;
    width: 100%;
    height: calc(100% - 80px); /* ����� ��� ����� */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* ������� � ����� */
    background: transparent;
}

.unity-wrapper {
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 2048px;
    aspect-ratio: 1.9;
    max-height: 100%; /* ����� �� �������� �� ���������� */
    height: auto;
    background: #111;
    margin-bottom: 10px;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    display: block;
    cursor: default;
}

#unity-fullscreen-button {
    position: absolute;
    right: -52px; /* 20px �� ��������� ������� */
    bottom: 0px;
    width: 32px;
    height: 32px;
    background: url("fullscreen-icon.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 50;
}

.canvas-web-footer-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.canvas-web-footer-link {
    color: #b3b3b3;
    text-decoration: underline;
    margin: 0 3px;
}

.canvas-web-footer-link:hover {
    color: #ffffff;
}

.canvas-web-footer-text {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2px;
    font-size: 14px;
    line-height: 14px;
}
