html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    font-family: Arial, sans-serif;
    color: #ccc;
}

#unity-container {
    position: relative;
    width: 100%;
    height: calc(100% - 60px); /* ����� ��� ����� */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

#unity-canvas {
    width: 90%; /* ����������� Canvas */
    height: 90%;
    max-width: 1200px;
    max-height: 800px;
    background: #111;
    cursor: default;
}

/* Fullscreen button */
#unity-fullscreen-button {
    position: absolute;
    right: 20px;
    bottom: 80px;
    width: 32px;
    height: 32px;
    background: url("fullscreen-icon.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 50;
}

    #unity-fullscreen-button:hover {
        opacity: 0.8;
    }

/* Footer */
.canvas-web-footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 1.4em;
    color: #ccc;
    margin: 5px 0 10px;
    z-index: 40;
}

.canvas-web-footer-link {
    color: #ccc;
    text-decoration: underline;
    margin: 0 3px;
}

    .canvas-web-footer-link:hover {
        color: #fff;
    }

.canvas-web-footer-text {
    margin-top: 5px;
}
