html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    font-family: Arial, sans-serif;
    color: #ccc;
}

#unity-container {
    position: relative;
    width: 100%;
    height: calc(100% - 70px); /* ����� ��� ����� */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* ������� � ����� */
    background: #000;
}

.unity-wrapper {
    position: relative;
    display: inline-block;
    width: 95%;
    max-width: 2560px; /* ����������� ��� 2K/4K */
    aspect-ratio: 1.9;
    background: #111;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    display: block;
    cursor: default;
}

#unity-fullscreen-button {
    position: absolute;
    right: -52px; /* 20px �� ��������� ������� */
    bottom: 0px;
    width: 32px;
    height: 32px;
    background: url("fullscreen-icon.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    z-index: 50;
}

.canvas-web-footer-container {
    width: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 1.4em;
    color: #b3b3b3;
    position: absolute;
    bottom: 0;
    padding: 5px 0 10px 0;
    background: transparent;
}

.canvas-web-footer-link {
    color: #b3b3b3;
    text-decoration: underline;
    margin: 0 3px;
}

    .canvas-web-footer-link:hover {
        color: #ffffff;
    }

.canvas-web-footer-text {
    margin-top: 5px;
}
